In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [6]:
hund_df_raw = pd.read_csv("/data/processed/20200306_hundehalter.csv")
hund_df_raw.head()

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
0,574,61-70,w,2,23,Mischling gross,NaN,NaN,NaN,I,2013,w,schwarz
1,695,41-50,m,6,63,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun
2,893,71-80,w,7,71,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz
3,916,41-50,m,3,34,Mischling klein,NaN,NaN,NaN,K,2015,w,hellbraun
4,1177,51-60,m,10,102,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss

In [14]:
filtered_df = hund_df_raw[hund_df_raw['RASSE1_MISCHLING'].notnull()]
hund_df_raw['RASSENTYP'].unique()

array(['I', 'K', 'II', nan], dtype=object)

In [15]:
dog_df_raw = hund_df_raw.rename(columns = {
    "HALTER_ID": 'Holder_ID',
    "ALTER": 'Age',
    "GESCHLECHT":'Holder_Sex',
    "STADTKREIS":'District',
    "STADTQUARTIER":'City_Code',
    "RASSE1":'Race1',
    "RASSE1_MISCHLING":'Race1_Hybrid',
    "RASSE2":'Race2',
    "RASSE2_MISCHLING":"Race2_Hybrid",
    "RASSENTYP":'Race',
    "GEBURTSJAHR_HUND":'Dog_Birth_Year',
    "GESCHLECHT_HUND":'Dog_sex',
    "HUNDEFARBE":'Dog_Color'
})
dog_df_raw

,Holder_ID,Age,Holder_Sex,District,City_Code,Race1,Race1_Hybrid,Race2,Race2_Hybrid,Race,Dog_Birth_Year,Dog_sex,Dog_Color
0,574,61-70,w,2,23,Mischling gross,NaN,NaN,NaN,I,2013,w,schwarz
1,695,41-50,m,6,63,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun
2,893,71-80,w,7,71,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz
3,916,41-50,m,3,34,Mischling klein,NaN,NaN,NaN,K,2015,w,hellbraun
4,1177,51-60,m,10,102,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7836,152295,41-50,m,5,51,Finnischer Lapphund,NaN,NaN,NaN,I,2019,w,weiss/schwarz
7837,152306,51-60,m,9,91,Mischling klein,NaN,NaN,NaN,K,2010,m,weiss
7838,152319,31-40,w,2,21,Zwergschnauzer,NaN,NaN,NaN,K,2012,w,grau
7839,152328,21-30,m,9,92,Shih Tzu,NaN,Malteser,NaN,K,2019,m,weiss/schwarz
7840,152331,31-40,w,1,11,Welsh Corgi Cardigan,NaN,NaN,NaN,K,2019,m,dunkelbraun

In [22]:
dog_df_raw['Dog_Age'] = 2023 - pd.to_numeric(dog_df_raw['Dog_Birth_Year'])
dog_df_raw['Age'].unique()

array(['61-70', '41-50', '71-80', '51-60', '81-90', '21-30', '31-40',
       '91-100', '11-20'], dtype=object)

In [27]:
age_group_dict = {"11-20":1,"21-30":2,"31-40":3,"41-50":4,"51-60":5,"61-70":6,"71-80":7,"81-90":8,"91-100":9}
dog_df_raw['Owner_Age_Group']=dog_df_raw['Age'].map(age_group_dict)
dog_df_raw['Owner_Age_Group']=dog_df_raw['Owner_Age_Group'].astype(int)
dog_df_raw

,Holder_ID,Age,Holder_Sex,District,City_Code,Race1,Race1_Hybrid,Race2,Race2_Hybrid,Race,Dog_Birth_Year,Dog_sex,Dog_Color,Dog_Age,Owner_Age_Group
0,574,61-70,w,2,23,Mischling gross,NaN,NaN,NaN,I,2013,w,schwarz,10,6
1,695,41-50,m,6,63,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun,11,4
2,893,71-80,w,7,71,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz,13,7
3,916,41-50,m,3,34,Mischling klein,NaN,NaN,NaN,K,2015,w,hellbraun,8,4
4,1177,51-60,m,10,102,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7836,152295,41-50,m,5,51,Finnischer Lapphund,NaN,NaN,NaN,I,2019,w,weiss/schwarz,4,4
7837,152306,51-60,m,9,91,Mischling klein,NaN,NaN,NaN,K,2010,m,weiss,13,5
7838,152319,31-40,w,2,21,Zwergschnauzer,NaN,NaN,NaN,K,2012,w,grau,11,3
7839,152328,21-30,m,9,92,Shih Tzu,NaN,Malteser,NaN,K,2019,m,weiss/schwarz,4,2
7840,152331,31-40,w,1,11,Welsh Corgi Cardigan,NaN,NaN,NaN,K,2019,m,dunkelbraun,4,3

In [29]:
dog_df_raw.to_csv('../data/processed/Dog_data.csv')